.jumbotron-bg-image
  min-height: 40vw
  max-height: 880px
  background-color: $bg-colored
  background-image: url("/images/pic_jumbo_red.png")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover

.jumbotron
  display: block
  margin: 0 auto  
  max-width: 822px

.jumbotron-heading
  padding-top: 15%
  font-size: $font-size-jumbotron
  line-height: $jumbotron-line-height
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50)
  color: $font-color-white
  &:before
    content: ''
    display: block
    //margin-top: 25%
    margin-bottom: 4%
    max-height: 259px
    padding-top: 33%
    background-image: url("/images/callout.png")
    background-repeat: no-repeat
    background-position: center top
    background-size: auto 100%

.jumbotron-text
  padding-top: 2%
  padding-bottom: 20%
  line-height: 1.6rem
  color: $font-color-light
