header
  width: 100%
  //background-color: rgba(229,74,68,0.35)

.header-bg-image
  width: 100%
  max-width: 1920px
  max-height: 880px
  background: rgba(229,74,68,0.35)
  background-image: url("./images/pic_jumbo.png")
